# --- PYTHON RENDSZERFÁJLOK ---
__pycache__/
*.pyc

# --- VIRTUÁLIS KÖRNYEZET (Ha használsz venv-et) ---
venv/
env/

# --- METASPACE BIZTONSÁGI ENKLÁVÉ (SOHA NE TÖLTSD FEL!) ---
# 1. A nyers titkos fájlok mappája
raw_secrets/
results/
docs/

# 2. A mesterkulcs (EZ A LEGFONTOSABB!)
*.key
metaspace_master.key

# 3. Környezeti változók (ha lesznek)
.env


# --- EGYÉB ---
.DS_Store
.vscode/
.idea/